################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LUMT/LUMT/bin
/LUMT/LUMT/obj
